.grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ensures a responsive grid */
    gap: 20px;
    padding: 20px;
  }
  img, video {
    width: 100% !important;
    height: 300px !important;
    min-height: 300px !important;
    max-height: 300px !important;
    object-fit: cover !important;
    display: block;
    object-position: center;
}

  
  button {
   
    
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #e41616f1;
  }