 
  
  .grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ensures a responsive grid */
    gap: 20px;
    padding: 20px;
  }
  .p-4 img {
    width: 100%;
    height: 250px;
   
  } 
  video {
    width: 100%;
    height: 250px;
    object-fit: cover;

  }
  
  button {
    background: #b95c50;
    
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #e41616f1;
  }
  
  
 
  
  