#event-card-container{
 margin: 20px;
} 
#event-card {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  transition: transform 0.1s ease, box-shadow 0.0s ease;
  overflow: hidden;
}
#event-card:hover {
  transform: translateY(-2px);
}

/* Event Card Image */
#event-card img {  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #864e23;
  border-radius: 50%;
  width: 280px;
}

#event-card img:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Event Title */
#event-title {
  
  font-size: 1rem;
  font-weight: bold;
  
  
  text-align: center;
  
  transition: all 0.3s ease-in-out;
}
#event-title:hover {
  
  color: #a5500b;
}

 

/* About Heading */
 #top {
  font-size: 2.5rem;
  font-weight: 700;
  color: #351703;
  letter-spacing: 1px;
 
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-in-out forwards 0.5s;
  
}

/* Underline Effect */
 #top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 36%;
  margin-left: 32%;
  height: 3px;
  background: linear-gradient(90deg, #701c06, #c77d45);
  animation: borderMove 2s infinite alternate ease-in-out;
}

/* About Description */
.about p {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: #440101a2;
  line-height: 1.6;
  margin: 10px auto;
  max-width: 80%;
  text-align: justify;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-in-out forwards 0.5s;
}
/* Responsive Font Sizes */
#top {
  font-size: clamp(1.8rem, 5vw, 2.5rem); /* Adjusts from small to large screens */
  font-weight: 700;
}

#event-title {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: bold;
}

/* Responsive Paragraph Font */
.about p, 
#event-card-container p {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}
