/* Favorite.css */
body {
    background-color:#e2dbd4;
  }
  
  h1 {
    text-align: center;
    color: #3b0404;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .p-4 {
    background: white;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    padding: 15px;
  }
  
  .p-4:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    
  }
  
  button {
    background:#A97D5E;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background: #3b0404;
  }
  